@CHARSET "UTF-8";

.top{
	width:1300px;
	height:100px;
	float:left;
	position:relative;
}
.logo1{
	width:100px;
	height:100px;
	float:left;
	margin-left:50px;
}
.text1{
	width:300px;
	height:100px;
	font-size:55px;
	float:left;
	margin-left:30px;
	margin-top:10px;
}
.item{
	width:150px;
	height:60px;
	float:left;
	/* border:1px solid #8df8f8; */
	text-align:center;
	line-height:60px;
	background: linear-gradient(#e6ffea, #99ff99,#e6ffea);
	background: -webkit-linear-gradient(#e6ffea, #99ff99,#e6ffea);
	outline:none;
	border:none;
}
.main{
	width:1000px;
	height:700px;
	float:left;
	margin-left:150px;
	/* position:relative; */
}
.left{
	float:left;
	height:700px;
	width:150px;
	border-right:2px solid #c0c0c0;
}
.main_main{
	width:600px;
	height:500px;
	float:left;
	margin-left:100px;
	margin-top:50px;
	position:relative;
}
.span1{
	position:absolute;
	top:20px;
}
.span2{
	position:absolute;
	top:70px;
}
.span3{
	position:absolute;
	top:120px;
	left:80px;
	width:100px;
	height:30px;
}
.old1{
	position:absolute;
	left:100px;
	top:15px;
	width:200px;
	height:30px;
}
.old2{
	position:absolute;
	top:65px;
	left:100px;
	width:200px;
	height:30px;
}

.down{
	width:1200px;
	height:150px;
	/*  border:1px #80ff00 solid;  */
	float:left;
	margin-top:10px;
	margin-left:80px;
	border-top:1px #ddd solid;
	margin-bottom:20px;
}
.down1{
	float:left;
	margin-left:440px;
	margin-top:40px;
	font-size:14px;
	color:#a7a7a7;
}
.down2{
	float:left;
	margin-left:360px;
	margin-top:10px;
	font-size:14px;
}
.down3{
	float:left;
	margin-left:440px;
	margin-top:10px;
	font-size:14px;
}