<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baby.dao.UserMapper" >
  
  <select id="selectById" resultType="com.baby.entity.UserState" parameterType="int" >
    select * from user_state where uid = #{_parameter}
  </select>
  
  <select id="selectUserById" resultType="com.baby.entity.AllUser" parameterType="int">
  	select us.uid, us.upassword, us.nickname, us.uphone, us.email, 
	u.uname, u.usex, ust.ustate, u.portrait, u.birth
	from `user` as us, user_state as u, user_state_type as ust
	where us.uid = u.uid and u.uid = #{_parameter} and u.ustate_id = ust.ustate_id;
  </select>
  
  <select id="loginByPhone" resultType="Boolean" parameterType="com.baby.entity.User">
  	select * from user where uphone = #{phone} and upassword=#{pw}
  </select>
  
  <select id="loginByNick" resultType="Boolean" parameterType="com.baby.entity.User">
  	select * from user where nickname = #{name} and upassword=#{pw}
  </select>
  
  <select id="loginById" resultType="Boolean" parameterType="com.baby.entity.User">
  	select * from user where uid = #{id} and upassword=#{pw}
  </select>
  
  <select id="getInfoByPhone" resultType="com.baby.entity.User" parameterType="com.baby.entity.User">
  	select * from user where uphone = #{phone} and upassword=#{pw}
  </select>
  
  <select id="getInfoByNick" resultType="com.baby.entity.User" parameterType="com.baby.entity.User">
  	select * from user where nickname = #{name} and upassword=#{pw}
  </select>
  
  <select id="getInfoById" resultType="com.baby.entity.User" parameterType="com.baby.entity.User">
  	select * from user where uid = #{id} and upassword=#{pw}
  </select>
  
  <select id="getAllInfoById" resultType="com.baby.entity.AllUser" parameterType="Integer">
  	select u.uid, u.upassword, u.nickname, u.uphone, user_state.uname, user_state.usex, user_state.ustate_id, user_state.portrait 
		from `user` as u, user_info 
		where u.uid = user_state.uid and u.uid= ${_parameter}
  </select>
  
  <update id="changePw">
  	update user set upassword = #{upw} where uid=#{uid}
  </update>
  
  <select id="getCols" resultType="com.baby.entity.Collection" parameterType="Integer">
  	select tid,title,essay_type.etype,essay_collection.date 
  		from essay, essay_collection, essay_type 
		where essay.type_id = essay_type.etype_id and essay.tid = essay_collection.essay_id 
		and essay_collection.user_id=#{_parameter} ORDER BY date DESC;
  </select>
</mapper>